
    
.kwadrat {
    width:100px;
    height: 100px;
    background-color: #fea500;
    margin-bottom:15px;
  }

  h1 {
    color: white;
 }

 .kwadraty {
    background-color: #808080;
    width:250px;
    height: 630px;
 }
 
      